<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Page Description"/>
    <meta name="author" content="Jason"/>
    <title>摄影分享</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/common/pagination.css" rel="stylesheet"/>
    <link href="/css/common/common.css" rel="stylesheet"/>
    <link href="/css/photography/photography_index.css" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

</head>
<body class="theme">
<div class="container-fluid">
    <div th:include="common/header"></div>
    <div class="row set-margin-top">
        <div class="col-md-4" th:each="PhotographyDetail,PhotographyDetailStat : ${PhotographyDetail.data}">
            <div class="thumbnail">
                <img id="inImage" alt="Bootstrap Thumbnail First" th:src="${'/image/photography/'+ PhotographyDetail.getPhotoRefId()}"/>
                <div class="caption">
                    <h3 th:text="${PhotographyDetail.getTheme()}">
                        title
                    </h3>
                    <p th:text="${PhotographyDetail.getComments().length() > 50 ? #strings.substring(PhotographyDetail.getComments(),0,50) + '...' : PhotographyDetail.getComments()}">
                        Comments
                    </p>
                    <p>
                        <a class="btn btn-primary"  href="#" th:href="@{'/photography/detail/' + ${PhotographyDetail.getId()}}">详情</a>
                        <!--<a class="btn" href="#">Action</a>-->
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div th:include="common/pagination"></div>
</div>
<div th:include="common/footer"></div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery-3.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap-3.3.7/js/bootstrap.js"></script>
</body>
</html>